﻿<div class="modal image-modal transparent" ng-click="closeModal()">
    <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="true" active-slide="activeSlide">
        <ion-slide ng-repeat="image in albumFotos">
            <img ng-src="{{image.Foto}}" class="fullscreen-image" />
        </ion-slide>
    </ion-slide-box>
</div>