﻿<!DOCTYPE html>
<html ng-app="starter">
<head>
    <title>Mr Casting</title>
    <link href="./css/index.css" rel="stylesheet" />
</head>
<body>
    <div class="inicio-content inicio-scroll">
        <div class="list list-inset" style="background-color:transparent;height:30%">
            <div class="item" style="background-color:transparent; font-weight:bolder; border-color:transparent">
                <a class="button" style=" width:80%" ng-click="realizarLogin()">Sucesso login fake</a>
            </div>
        </div>
    </div>
</body>
</html>