﻿<!DOCTYPE html>
<html ng-app="starter">
<head>
    <title>Mr Casting</title>
    <link href="./css/index.css" rel="stylesheet" />
</head>
<body>
    <div class="inicio-content inicio-scroll">
        <div class="row row-center" style="height:70%;padding-top:10px;padding-right:15px;padding-left:15px">
            <div class="col col-center">
                <img style="width:100%" src="./images/mr-casting_sem_preenc.png" />
            </div>
        </div>
        <div class="list list-inset" style="background-color:transparent;height:30%" controller="AuthController">
            <div class="item" style="background-color:transparent; font-weight:bolder; border-color:transparent" >
                <a class="button button-positive ion-social-facebook icon-left" style=" width:80%" ng-click="facebookLogin()">&nbsp;Entrar com facebook</a>
            </div>
            <!--<div class="item" style="background-color:transparent; font-weight:bolder; border-color:transparent">
                <a class="button button-assertive ion-social-googleplus icon-left" style=" width:80%" ng-href="#/app/editarDadosPessoais">&nbsp;Entrar Google+</a>
            </div>-->
        </div>
    </div>
</body>
</html>