﻿<ion-view view-title="Realise">
    <ion-header-bar align-title="center">
        <h1 class="title">Realise</h1>
    </ion-header-bar>
    <form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>

        <ion-content padding="true" class="has-header">

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Realise</span>
                    <textarea name="realise" type="text" placeholder="Conte-nos sua história" ng-model="candidato.Realise" style="height:200px" 
                    ng-class="{ 'has-error' : userForm.realise.$invalid && !userForm.realise.$pristine }"
                    ng-maxlength="1000" ng-minlength="10">
                    </textarea>
                </label>
            <p ng-show="userForm.realise.$error.maxlength" class="help-block">Realise deve conter até 1000 caracteres.</p>
            <p ng-show="userForm.realise.$error.minlength" class="help-block">Realise deve conter no minimo 10 caracteres.</p>

        </ion-content>
        <ion-footer-bar>
            <div class=" button-bar">
                <button class="button button-dark" type="submit" ng-disabled="userForm.$invalid" ng-click="gravar()">Gravar</button>
            </div>
        </ion-footer-bar>
            </form>
</ion-view>

