﻿
<ion-view view-title="Dados Pessoais">
    <ion-header-bar align-title="center">
        <img src="../../images/mr-casting_colorido_baixo.png" style="width:auto;height:100%;padding-left:10px" />
        <h1 class="title">Cadastrar</h1>
    </ion-header-bar>

    <form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>
        <ion-content padding="true" class="has-header">
            <div style="text-align:center;width:100%;">
                <canvas id="canvasFoto" style="width: 50%;display:none"></canvas>
                <img ng-src="{{foto.src}}" src="../../images/camera.png" style="width: 50%; height: auto" ng-click="selecionarFoto()" />
            </div>
            <div>
                <div class="list list-inset">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Nome</span>
                        <input name="nome" type="text" placeholder="Seu nome" ng-model="candidato.DadosPessoais.Nome" required
                               class="form-control"
                               ng-minlength="2" ng-maxlength="60" ng-class="{ 'has-error' : userForm.nome.$invalid && !userForm.nome.$pristine }">
                    </label>
                    <p ng-show="userForm.nome.$error.minlength" class="help-block">Nome no mínimo 2 caracteres.</p>
                    <p ng-show="userForm.nome.$error.maxlength" class="help-block">Nome no máximo 60 caracteres.</p>
                    <p ng-show="userForm.nome.$error.required" class="help-block"> Seu nome é obrigatório</p>


                    <!--<label class="item item-input item-stacked-label">
                        <span class="input-label">Sobrenome</span>
                        <input name="sobrenome" type="text" placeholder="Seu sobrenome" ng-model="candidato.DadosPessoais.Sobrenome" required
                               class="form-control"
                               ng-minlength="2" ng-maxlength="120" ng-class="{ 'has-error' : userForm.sobrenome.$invalid && !userForm.sobrenome.$pristine }">
                    </label>
                    <p ng-show="userForm.sobrenome.$error.minlength" class="help-block">Sobrenome no mínimo 2 caracteres.</p>
                    <p ng-show="userForm.sobrenome.$error.maxlength" class="help-block">Sobrenome no máximo 120 caracteres.</p>
                    <p ng-show="userForm.sobrenome.$error.required" class="help-block"> Seu Sobrenome é obrigatório</p>-->



                    <label class="item item-input item-stacked-label">
                        <span class="input-label">CPF</span>
                        <input name="cpf" type="number" placeholder="Formato 000.000.000-00" ng-model="candidato.DadosPessoais.Cpf" required
                               class="form-control"
                               ng-maxlength="11" ng-class="{ 'has-error' : userForm.cpf.$invalid && !userForm.cpf.$pristine }">
                    </label>
                    <p ng-show="userForm.cpf.$error.maxlength" class="help-block">CPF no máximo 11 caracteres.</p>
                    <p ng-show="userForm.cpf.$error.required" class="help-block"> Seu CPF é obrigatório</p>


                    <div class="item item-input item-stacked-label">
                        <span class="input-label">Data de nacimento</span>
                        <input name="nascimento" type="date" placeholder="yyyy-MM-dd" min="1900-01-01" max="2016-12-31" required ng-model="candidato.DadosPessoais.DataNascimento" ng-class="{ 'has-error' : userForm.nascimento.$invalid && !userForm.nascimento.$pristine }">
                    </div>
                    <div role="alert">
                        <span class="error" ng-show="userForm.nascimento.$error.required">
                            Data Obrigatória
                        </span>
                        <span class="error" ng-show="userForm.nascimento.$error.date">
                            Não é uma data Válida
                        </span>
                        <span class="error" ng-show="userForm.nascimento.$error.min">
                            Não pode ser inferior a 1900
                        </span>
                        <span class="error" ng-show="userForm.nascimento.$error.max">
                            Não pode ser superior a 2016
                        </span>
                    </div>

                    <div class="item item-input item-select">
                        <span class="input-label">Sexo</span>
                        <select name="sexo" ng-model="candidato.DadosPessoais.Sexo" required ng-class="{ 'has-error' : userForm.sexo.$invalid && !userForm.sexo.$pristine }">

                            <option selected value="1">Feminino</option>
                            <option value="2">Masculino</option>
                        </select>
                    </div>
                    <!--<div role="alert">
                        <span class="error" ng-show="userForm.sexo.$error.required">
                            Campo obrigatório
                        </span>
                    </div>-->

                </div>
            </div>
        </ion-content>
        <ion-footer-bar>
            <div class="button-bar">
                <button class="button button-dark" type="submit" ng-disabled="userForm.$invalid" ng-click="gravar()">Gravar</button>
            </div>
        </ion-footer-bar>
    </form>
</ion-view>