﻿<ion-view view-title="Fale Conosco">
    <ion-header-bar align-title="center">
        <h1 class="title">Fale Conosco</h1>
    </ion-header-bar>
    <ion-content padding="true" class="has-header">
        <form>
            <div class="form-group">
                <label class="col-sm-3 control-label">Remetente</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="mensagem.remetente">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Destinatário</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="mensagem.destinatario" readonly="readonly">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Mensagem</label>
                <div class="col-sm-9">
                    <textarea class="form-control" rows="3" ng-model="mensagem.conteudo"></textarea>
                </div>
            </div>
            <div class="col-sm-8">
                <button type="submit" class="btn btn-default" ng-click="sendMessage()">Enviar</button>
            </div>
        </form>
        <br />
    </ion-content>

</ion-view>