﻿<ion-view view-title="Meu Perfil">
    <ion-header-bar align-title="center">
        <h1 class="title">Meu Perfil</h1>
    </ion-header-bar>
    <ion-content padding="true" class="has-header">
        <form class="list">
            <div style="text-align:center;width:100%;">
                <img ng-src="{{foto.src}}" style="width: 50%; height: auto">
            </div>
            <div>
                <div class="list list-inset">
                    <label class="item item-input item-stacked-label" ng-show="candidato.NomeArtistico">
                        <span class="input-label negrito">Nome Artistico</span>
                        <span class="input-label"  style="padding-left:20px">{{candidato.NomeArtistico}}</span>
                    </label>

                    <label class="item item-input item-stacked-label" ng-show="candidato.CaracteristicaFisica.Altura">
                        <span class="input-label negrito">Altura</span>
                        <span class="input-label">{{candidato.CaracteristicaFisica.Altura}}</span>
                    </label>

                    <label class="item item-input item-stacked-label" ng-show="candidato.CaracteristicaFisica.Manequim">
                        <span class="input-label negrito">Manequim</span>
                        <span class="input-label">{{candidato.CaracteristicaFisica.Manequim}}</span>
                    </label>

                    <label class="item item-input item-stacked-label" ng-show="candidato.CaracteristicaFisica.CorOlhos">
                        <span class="input-label negrito">Olhos</span>
                        <span class="input-label">{{candidato.CaracteristicaFisica.CorOlhos}}</span>
                    </label>

                    <label class="item item-input item-stacked-label" ng-show="candidato.CaracteristicaFisica.Peso">
                        <span class="input-label negrito">Peso</span>
                        <span class="input-label">{{candidato.CaracteristicaFisica.Peso}}</span>
                    </label>

                    <label class="item item-input item-stacked-label" ng-show="candidato.DadosPessoais.Sexo">
                        <span class="input-label negrito">Sexo</span>
                        <span class="input-label">{{DescSexo(candidato.DadosPessoais.Sexo)}}</span>
                    </label>

                    <label class="item item-input item-stacked-label" ng-show="candidato.DadosPessoais.DataNascimento">
                        <span class="input-label negrito">Idade</span>
                        <span class="input-label">{{candidato.DadosPessoais.DataNascimento | idadeFilter}}</span>
                    </label>

                    <label class="item item-input item-stacked-label" ng-show="candidato.Tag.Tags">
                        <span class="input-label negrito">Tags</span>
                        <span class="input-label">{{candidato.Tag.Tags}}</span>
                    </label>

                </div>
            </div>
        </form>
    </ion-content>
</ion-view>